<div style="margin: 3%;">
    <h2 style="text-align: center">Comunicate con nosotros</h2>
    <form action="" onsubmit="" method="post">
      <div class="container mt-3">
          <div class="mb-3 mt-3 was-validated">
            <label for="uname" class="form-label">Nombre(s):</label>
            <input type="text" class="form-control" name="nombre" required>
            <div class="valid-feedback">Valido.</div>
            <div class="invalid-feedback">Por favor, rellene este campo.</div>
          </div>
          <div class="mb-3 mt-3 was-validated">
            <label for="uname" class="form-label">Apellidos:</label>
            <input type="text" class="form-control" name="apellidos" required>
            <div class="valid-feedback">Valido.</div>
            <div class="invalid-feedback">Por favor, rellene este campo.</div>
          </div>
          <div class="mb-3 mt-3">
            <label for="comment">Sugerencia/Opinion/Pregunta:</label>
            <textarea class="form-control" rows="5" name="opinon"></textarea>
          </div>
          <div class="mb-3 mt-3 was-validated">
            <label for="email">Email:</label>
            <input type="email" class="form-control" placeholder="ejemplo@example.com" name="email" required>
            <div class="valid-feedback">Valido.</div>
            <div class="invalid-feedback">Por favor, rellene este campo.</div>
          </div>
          <button type="submit" name="enviar" id="enviar" class="btn btn-secondary" value="enviar">Enviar</button>
      </div>
    </form>
  </div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3701.560615553795!2d-102.3147087!3d21.912989300000007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1669058694664!5m2!1ses-419!2smx" width="700" height="400" style="margin-left:20%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <br>
  <br>
  <br>
  