<div>

<div class="ti">
  <br><br><br><br><br>
    <h1 class="titulo">Citas</h1>
</div>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Fecha y Hora</th>
        <th>Area</th>
        <th>Cantidad de personas</th>
        <th>Cancelar Cita</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cita of lista">
        <td>{{ cita.name }}</td>
        <td>{{ cita.email }}</td>
        <td>{{ formatearFecha(cita.date) }}</td>
        <td>{{ cita.place }}</td>
        <td>{{ cita.persons }}</td>
        <td><button class="btn btn-outline-danger" (click)="onClickDelete(cita)">Eliminar</button></td>
      </tr>
    </tbody>
  </table>
</div>


<hr>
<div class="ti">
    <img src="assets/imagenes/image.png" alt="">

</div>
</div>

