<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&display=swap" rel="stylesheet">
</head>
<div class="inicio">
  <h1 class="titulo">Conocenos</h1>
 <!--Boton del modal-->
  <div class="boton-modal">
    <label for="btn-modal">
         <img src="../../assets/imagenes/BotonAKA.png" width="400px">
    </label>
</div>
<!--Fin de Boton-->
<!--Ventana Modal-->
<input type="checkbox" id="btn-modal">
<div class="container-modal">
    <div class="content-modal">
        <h2>¡Bienvenido!</h2>
        <p class="m">Donde la buena compañía y las deliciosas bebidas se combinan en un 
          ambiente acogedor. Disfruta de nuestros exquisitos cócteles y música en vivo. 
          Nuestro amable equipo te espera para brindarte una experiencia memorable. 
          ¡Ven y únete a nosotros en AKA Bar para momentos inolvidables!</p>
          <p class="m">"Este es un proyecto universitario"</p>
        <div class="btn-cerrar">
            <label for="btn-modal">Cerrar</label>
        </div>
    </div>
    <label for="btn-modal" class="cerrar-modal"></label>
</div>



  <div class="card-group">
    <div class="card">
      <img src="./assets/imagenes/AriR.jpeg" class="card-img-top" height="350" alt="...">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">Ariadna Jidith Rosas Aguilar</p>
        <p class="card-text">ISC</p>
      </div>
    </div>
    <div class="card">
      <img src="./assets/imagenes/AndresN.jpeg" class="card-img-top" height="350" alt="...">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">Andres Noriega Villalobos</p>
        <p class="card-text">ISC</p>
      </div>
    </div>
    <div class="card">
      <img src="./assets/imagenes/KenyaJ.jpeg" class="card-img-top"  height="350" alt="...">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">Kenya Josselin Garcia Salazar</p>
        <p class="card-text">ISC</p>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img src="./assets/imagenes/AlejandroD.jpeg" class="card-img-top" height="350" alt="...">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">Alejandro Duran Plascencia</p>
        <p class="card-text">ISC</p>
      </div>
    </div>
    <div class="card">
      <img src="./assets/imagenes/LilianaP.jpeg" class="card-img-top" height="350" alt="...">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">Cecilia Liliana Pedroza Casillas</p>
        <p class="card-text">ISC</p>
      </div>
    </div>
    <div class="card">
      <img src="./assets/imagenes/IñakiM.jpeg" class="card-img-top"  height="350" alt="...">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">Iñaki Nathan Martinez Martinez</p>
        <p class="card-text">ISC</p>
      </div>
    </div>
  </div>

</div>
