<br><br><br>
<h2 class="banner">Login</h2>

<div class="d-flex justify-content-center">
    <div class="btn-group-vertical">
        <button type="button" class="btn btn-outline-dark btn-lg " (click)="showEmailTemplate()">
            Login con Email
            <ng-container *ngIf="selectedTemplate === 'email'">
                <div>
                    <hr>
                    <form [formGroup]="formAccesso" (ngSubmit)="logIn()">
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="text" class="form-control" formControlName="email">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" formControlName="password">
                        </div>
                        <p-toast position="bottom-center" key="bc"></p-toast>
                        <input type="submit" value="Aceptar" class="btn btn-outline-info">
                    </form>
                </div>
            </ng-container>
        </button>
        <button type="button" class="btn btn-outline-dark btn-lg btn-block" (click)="showPhoneTemplate()">
            Login con Numero Telefonico
            <ng-container *ngIf="selectedTemplate === 'phone'">
                <app-phone-login></app-phone-login>
            </ng-container>
        </button>
    </div>
</div>
<br><br><br>
<div style="font-size: 20px;" class="d-flex justify-content-center">
    No tienes cuenta, registrate aqui!
</div>

<div class="d-flex justify-content-center">
    <div>
        <button class="btn btn-outline-info btn-lg btn-block" (click)="showRegisterTemplate()">
            Registrarse
            <ng-container *ngIf="selectedTemplate === 'register'">
                <div class="container">
                    <form [formGroup]="register" (ngSubmit)="registrar()" class="needs-validation" novalidate>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="">Nombre:</label>
                                    <input type="text" class="form-control" formControlName="name">
                                </div>
                                <div class="mb-3">
                                    <label for="">Username:</label>
                                    <input type="text" [ngClass]="{'is-invalid':!register.get('username')?.valid}"
                                        class="form-control" formControlName="username">
                                    <div *ngIf="register.controls['username'].errors?.['required']"
                                        class="invalid-feedback">
                                        El usuario es necesario
                                    </div>
                                    <div *ngIf="register.controls['username'].errors?.['minlength']"
                                        class="invalid-feedback">
                                        Por lo menos seis caracteres
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="">Email</label>
                                    <input type="email" class="form-control" formControlName="email"
                                        [ngClass]="{'is-invalid':!register.get('email')?.valid }">
                                    <div *ngIf="register.controls['email'].errors?.['required']"
                                        class="invalid-feedback">
                                        Correo obligatorio
                                    </div>
                                    <div *ngIf="register.controls['email'].errors?.['email']" class="invalid-feedback">
                                        El correo no tiene el formato correcto
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="">Password</label>
                                    <input type="password" class="form-control" formControlName="password"
                                        [ngClass]="{'is-invalid':!register.get('password')?.valid }">
                                    <div *ngIf="register.controls['password'].errors?.['required']"
                                        class="invalid-feedback">
                                        Campo obligatorio
                                    </div>
                                    <div *ngIf="register.controls['password'].errors?.['minlength']"
                                        class="invalid-feedback">
                                        Al menos 8 caracteres
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="">Confirm Password</label>
                                    <input type="password" class="form-control" formControlName="confirmpassword">
                                    <div *ngIf="register.get('confirmpassword')?.valid && !register.get('confirmpassword')?.hasError('passwordMismatch')"
                                        class="valid-feedback">
                                        Las contraseñas coinciden.
                                    </div>
                                    <div *ngIf="register.get('confirmpassword')?.hasError('passwordMismatch')"
                                        class="not">
                                        Las contraseñas no coinciden.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="">Phone</label>
                                    <input type="tel" class="form-control" formControlName="phone" placeholder="+52 ">
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-outline-success">Registrar</button>
                                </div>
                            </div>
                        
                    </form>
                </div>
            </ng-container>
        </button>
    </div>

</div>
