*{
  background-color: #0B2B33;
}
.menulogo{
  background-color: #0B2B33;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    position: fixed;
    background-color: #2E5964;
  }

  a, h1, div{
    color: rgb(190, 180, 180);
    background-color: #0B2B33;
  }

  #log{
    text-decoration: none;
  }
  .navbar {
    background-color: #0B2B33;
  }
  