<nav class="navbar sticky-top navbar-expand-lg" [ngStyle]="{'background-color':tema()}">
  <div class="container-fluid">
    <a class="navbar-brand" routerLinkActive="active" [routerLink]="['home']"><img src="assets/imagenes/logo.png"
        alt="Logo" style="width:100px;" class="rounded-pill"></a>
    <div class="collapse navbar-collapse" id="mynavbar" [ngStyle]="{'color':color(), 'font-family':tipografia()}">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" routerLinkActive="active" [ngStyle]="{'color':color(), 'font-family':tipografia()}">
          <a class="nav-link" [routerLink]="['home']" [ngStyle]="{'color':color(), 'font-family':tipografia()}">Inicio</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [ngStyle]="{'color':color(), 'font-family':tipografia()}">
          <a class="nav-link" [routerLink]="['about']" [ngStyle]="{'color':color(), 'font-family':tipografia()}">Conocenos</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [ngStyle]="{'color':color(), 'font-family':tipografia()}">
          <a class="nav-link" [routerLink]="['contacto']" [ngStyle]="{'color':color(), 'font-family':tipografia()}">Contactanos</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [ngStyle]="{'color':color(), 'font-family':tipografia()}">
          <a class="nav-link" [routerLink]="['preguntas']" [ngStyle]="{'color':color(), 'font-family':tipografia()}">Ayuda</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [ngStyle]="{'color':color(), 'font-family':tipografia()}">
          <a class="nav-link" [routerLink]="['mansory']" [ngStyle]="{'color':color(), 'font-family':tipografia()}">Galeria</a>
        </li>
        
        <li class="nav-item dropdown" *ngIf="usuario">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" [ngStyle]="{'color':color(), 'font-family':tipografia()}">
            Reservaciones
          </a>
          <ul class="dropdown-menu" [ngStyle]="{'background-color':tema()}">
            <li  routerLinkActive="active" >
              <a class="dropdown-item" [routerLink]="['agendar']" [ngStyle]="{'color':color(), 'font-family':tipografia()}">Hacer Reservacion</a>
            </li>
            <li  routerLinkActive="active">
              <a class="dropdown-item" [routerLink]="['citas']" [ngStyle]="{'color':color(), 'font-family':tipografia()}">Ver Citas</a>
            </li>
            <li  routerLinkActive="active">
              <a class="dropdown-item" [routerLink]="['sidenav']" [ngStyle]="{'color':color(), 'font-family':tipografia()}">Reseñas</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li  routerLinkActive="active">
              <a class="dropdown-item" [routerLink]="['']" [ngStyle]="{'color':color(), 'font-family':tipografia()}">Mi Espacio</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['contacto']" [ngStyle]="{'color':color(), 'font-family':tipografia()}">Contactanos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['preguntas']" [ngStyle]="{'color':color(), 'font-family':tipografia()}">Ayuda</a>
        </li>
          </ul>
        </li>
        <li class="nav-item" routerLinkActive="active" [ngStyle]="{'color':color(), 'font-family':tipografia()}">
          <a class="nav-link" [routerLink]="['mansory']" [ngStyle]="{'color':color(), 'font-family':tipografia()}">Galeria</a>
        </li>
        <li class="nav-item dropdown" *ngIf="admin">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" [ngStyle]="{'color':color(), 'font-family':tipografia()}">
            Admin
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li  routerLinkActive="active" [ngStyle]="{'color':color(), 'font-family':tipografia()}">
              <a class="dropdown-item" [routerLink]="['']" [ngStyle]="{'color':color(), 'font-family':tipografia()}">Usuario</a>
            </li>
            <li  routerLinkActive="active" [ngStyle]="{'color':color(), 'font-family':tipografia()}">
              <a class="dropdown-item" [routerLink]="['']" [ngStyle]="{'color':color(), 'font-family':tipografia()}">Graficas</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li  routerLinkActive="active" [ngStyle]="{'color':color(), 'font-family':tipografia()}">
              <a class="dropdown-item" [routerLink]="['']" [ngStyle]="{'color':color(), 'font-family':tipografia()}">Mi Espacio</a>
            </li>
          </ul>
        </li>
        
      </ul>
      <app-buscar (buscar)="ver($event)"></app-buscar>
      <p-toast></p-toast>
      <div *ngIf="visible">
        <img width="200px" [src]="datos.img" alt="{{datos.nombre}}">
        <h1 [ngStyle]="{'color':color(), 'font-family':tipografia()}">{{datos.titulo}}</h1>
        <p>{{datos.bio}}</p>
      </div>
      
      <button id="log" class="btn btn-outline-warning"> <a [routerLink]="['login']" *ngIf="!usuarioAutenticado" style="color: rgb(255, 215, 0)">Login</a></button>
      <button id="log" class="btn btn-outline-warning" (click)="salir()" *ngIf="usuarioAutenticado"> LogOut</button>
      <li class="nav-item dropdown" style="padding-right: 10px;">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" [ngStyle]="{'color':color(), 'font-family':tipografia()}">
          <img src="assets/imagenes/Accesibilidad.png" alt="AW" style="width: 50px; height: 50px;" class="rounded-pill">
        </a>
        <ul class="dropdown-menu" style="background-color: grey;">
          <li>
            <button id="theme" class="btn btn-outline-light" (click)="Cambiar()">Theme</button>
          </li>
          <li>
            <button id="theme" class="btn btn-outline-light" (click)="CambiarT()">Tipografia</button>
          </li>
          <li  routerLinkActive="active" >
            <a class="dropdown-item"  [routerLink]="['home']"><img src="assets/imagenes/casa.png" alt="AW" style="width: 25px; height: 25px;" class="rounded-pill"></a>
          </li>
          <li  routerLinkActive="active">
            <a class="dropdown-item" [routerLink]="['about']"><img src="assets/imagenes/about.png" alt="AW" style="width: 25px; height: 25px;" class="rounded-pill"></a>
          </li>
          <li  routerLinkActive="active">
            <a class="dropdown-item" [routerLink]="['mansory']"><img src="assets/imagenes/galeria.jpg" alt="AW" style="width: 25px; height: 25px;" class="rounded-pill"></a>
          </li>
        </ul>
      </li>
      <!--<input class="form-control me-2" type="text" placeholder="Search">

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLinkActive="active" [routerLink]="['home']"><img src="assets/imagenes/logo.png" alt="Logo" style="width:150px;" class="rounded-pill"></a>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"  [routerLink]="['home']">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"  [routerLink]="['about']">About</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"  [routerLink]="['agendar']">Reservations</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['citas']">Citas</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['mansory']">Gallery</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['sidenav']">Reseñas</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['contacto']">Contactanos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['preguntas']">Ayuda</a>
        </li>
      </ul>
        <app-buscar (buscar)="ver($event)"></app-buscar>
        <p-toast></p-toast>
        <div *ngIf="visible">
          <img width="200px" [src]="datos.img" alt="{{datos.nombre}}">
          <h1>{{datos.titulo}}</h1>
          <p>{{datos.bio}}</p>
        </div>
        <!--<input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>-->
    </div>
  </div>
</nav>
<!--<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
  <div class="container-fluid">
    <div class="container">
      <a class="" routerLinkActive="active" [routerLink]="['home']">
        <img src="assets/imagenes/logo.png" alt="Logo" style="width:40px;" class="rounded-pill">
      </a>
    </div>
    <div class="" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"  [routerLink]="['home']">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"  [routerLink]="['about']">About</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"  [routerLink]="['agendar']">Reservations</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['citas']">Citas</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['mansory']">Gallery</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['sidenav']">Reseñas</a>
        </li>
      </ul>
      <form class="d-flex">
        <app-buscar (buscar)="ver($event)"></app-buscar>
        <p-toast></p-toast>
        <div *ngIf="visible">
          <img width="200px" [src]="datos.img" alt="{{datos.nombre}}">
          <h1>{{datos.titulo}}</h1>
          <p>{{datos.bio}}</p>
        </div>
        <button id="log" class="btn btn-outline-light" [routerLink]="['login']"
          *ngIf="!usuarioAutenticado">Login</button>
        <button id="log" class="btn btn-outline-warning" (click)="salir()" *ngIf="usuarioAutenticado"> LogOut</button>
      </form>
    </div>
  </div>
</nav>-->







<!--//Button trigger sidenav
<div class="d-flex justify-content-center align-items-center" >
  <div>
    <button type="button" class="btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      <h1><img src="assets/imagenes/menu.png" alt="" width="15px" height="15px"> MENU</h1>
    </button>
  </div>
</div>

Sidenav 
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <a class="navbar-brand" href="#"><img src="assets/imagenes/logo.png" width="400px"></a>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  [routerLink]="['about']">About</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  [routerLink]="['agendar']">Reservations</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['citas']">Citas</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['mansory']">Gallery</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['sidenav']">Reseñas</a>
      </li>
    </ul>
    <form class="d-flex">
      <app-buscar (buscar)="ver($event)"></app-buscar>
      <p-toast></p-toast>
      <div *ngIf="visible">
        <img width="200px" [src]="datos.img" alt="{{datos.nombre}}">
        <h1>{{datos.titulo}}</h1>
        <p>{{datos.bio}}</p>
      </div>
    </form>
  </div>
</div>-->
