.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    position: fixed;
  }

  a, h1, div{
    color: white;
  }

  #log{
    text-decoration: none;
  }